header {
    align-content: center;
    margin: 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 70px;
    background-color: ;
    
}

.menu li {
    display: inline;
    background-color: #524644;
    border: 0px solid;
    border-color: white;
    padding: .5em;
    border-radius: 2px;
    background: linear-gradient(#524644, #786a69);
    text-decoration-color: white;

}
.menu li:hover
{
    background:#786a69;
}
.menu li {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.menu li:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

section {
    align-content: center;
    margin: 0px 0px 0px 0px;
    height: 600px;
    background-image: url(../img/fon_home.jpg); 
   background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
background-size: 100%;
padding: 0;
}
ul {
    text-align: center;
}
body {
    margin: 0;
}
/*@keyframes width {
    0%, 100% {
        width: 350px;
    }
    50% {
        width: 400px;
    }
}
svg {animation: width 5s infinite;}
svg {animation-timing-function: linear;}*/