header {
    opacity: 0,7;
    align-content: center;
    margin: 0 auto;
    padding: 0;
    position: fixed;
    max-width: 1366px;
    top: 0px;
    height: 90px;
     background: linear-gradient(#F5A9F2,rgba(248,230,224,0.81));
     width: 100%;
     background-position: center;
     background-size: 100%;
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    
    
}
.header {
    left: 0;
    float: left;
    margin-left: 10px;
    margin-top: 7px;
    
}
li.menu:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background: linear-gradient(#F8CFFF, rgba(248,230,224,0)); 
    
} /* при наведенні міняє колір */
li.menu:active { 
    background: #fff; 
    
} /* при натисканні */
.menu {
    border-radius:5px;
    margin: 2px;
    float: right;
    display: inline;
    border: 0px solid;
    padding: 10px;
    font-family: sans-serif;
 

}
a {
       text-decoration: none;
}


#home {
    align-content: center;
    margin: 0px 0px 0px 0px;
    background-image: url(../img/homeback.jpg); 
   background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
background-size: 100%;
padding: 0;
}
#poslugy {
    align-content: center;
    margin: 0px 0px 0px 0px;
    background-image: url(../img/hsomeback.jpg); 
   background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
background-size: 100%;
padding: 0;
}

body {
    margin: 0 auto;
    max-width: 1366px;
    min-width: 800;
    align-content: center;
}
div h1 {
    text-align: center;
    padding: 100px;
    font-size: 25pt;
    font-style: normal;
    font-variant: small-caps;
    color: #2D0063;
}
.texthome {
    overflow-x: auto;
    text-align: center;
    display: inline;
    font-size: 12pt;
    color: #2D0063;
}


#imgposl {
    
    border-radius: 100%; 
    border: 3px solid white; 
    box-shadow: 0 0 7px #666; 
    width: 70px;
    height: 70px;
   }
.form {
    background: linear-gradient(#C5CCD4, #fff);
    height: 100px;
   }
.listposl {
    max-width:50%;
    list-style-position: outside;
    background-color: rgba(248,230,224,0.81);
    
}
