@charset "UTF-8";
.str1 {stroke:#2D0063;stroke-width:35.5803;stroke-linecap:round;stroke-linejoin:round}
.str0 {stroke:#940063;stroke-width:35.5803;stroke-linecap:round;stroke-linejoin:round}
.fil0 {fill:none;fill-rule:nonzero}
.fil8 {fill:#FEFEFE;fill-rule:nonzero}
.fil9 {fill:#2B2A29;fill-rule:nonzero}
.fil4 {fill:#FAF9F6;fill-rule:nonzero}
.fil7 {fill:#837A75;fill-rule:nonzero}
.fil6 {fill:#786A69;fill-rule:nonzero}
.fil5 {fill:#514742;fill-rule:nonzero}
.fil2 {fill:#2D0063;fill-rule:nonzero}
.fil1 {fill:#940063;fill-rule:nonzero}
.fil10 {fill:white;fill-rule:nonzero}
.fil3 {fill:url(#id0)}
.logosvg {
    width: 400px;
    align-content: center;
    margin-top: 200px;
}

svg:hover
{
   -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}