
.navbar-header {
        background-color: rgb(195, 195, 195);
    
}
.nav {
        margin: 7.5px -15px;
        background: linear-gradient(rgba(255,255,255,0.9),rgba(255,255,255,0.1));
}
.navbar-default .navbar-nav>li>a {
    color: #777;
}






a {
       text-decoration: none;
}
#home {
    align-content: center;
    margin: 0px 0px 0px 0px;
    background-image: url(../img/fon_home.jpg); 
   background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
background-size: cover;
padding: 0;
}
#poslugy {
    align-content: center;
    margin: 0px 0px 0px 0px;
    background-image: url(../img/fon_poslugy.jpg); 
   background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
background-size: cover;
padding: 0;
}

body {
    margin: 0 auto;
    max-width: 799px;
    min-width: 250px;
    align-content: center;
}
@font-face {
    font-family: Comfortaa-Bold;
    src: url(../font/Comfortaa-Bold.ttf);
}
@font-face {
    font-family: Comfortaa-Light;
    src: url(../font/Comfortaa-Light.ttf);
}
@font-face {
    font-family: Comfortaa-Regular;
    src: url(../font/Comfortaa-Regular.ttf);
}
#texth1 {
    text-align: center;
    padding-top: 100px;
    font-size: 18px;
    font-style: normal;
    font-variant: small-caps;
    font-family: Comfortaa-Bold;
    color: #00005C;
    text-shadow: 0px 0px 9px rgba(255,255,255,0.80);


}

#texth1 h1 {
    margin-top: 50px;
    text-align: center;
    font-size: 35px;
    font-style: normal;
    font-variant: small-caps;
    font-family: Comfortaa-Bold;
    color: #fff;
    text-shadow: 0px 0px 9px rgba(255,255,255,0.80);
}
.animated:hover {
    background-color: #202b3a;
    box-shadow: 5px 5px 20px rgba(0,0,0,5);
    box-shadow: inset 0 0 0 5px #afafaf;
}
.animated {

    padding: 10px;
    font-family: Comfortaa-Regular;
    text-align: left;
    display: inline-block;
    font-size: 12pt;
    background-color: rgb(62, 62, 62);
    color: #e0e0e0;
}

#bactexthome1 {
    box-shadow: 5px 5px 20px rgba(0,0,0,0.5);
    margin: 10px auto;
    margin-top: 80px;
    margin-bottom: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    max-width: 85%;
    background-color: rgba(255,255,255,0.6);
}


.imgposl {
    border-radius: 9%; 
    border: 1px solid white; 
    box-shadow: 0 0 7px #000; 
    width: 70px;
    height: 70px;
    float: left;
    margin-right: 20px;
    wrap-flow: clear;
   }
.form {
    background: linear-gradient(#b9b9b9, #fff);
    /*height: 100px;*/
   }
#listposldiv {
    text-align: center;
}
.listposl {
    font: 19px/1.2 Arial, sans-serif;
    font-family: Comfortaa-Regular;
    text-align: justify;
    vertical-align: middle;
    color: #fff;
    padding: 20px;
    margin: 10px;
   
    background: rgba(7, 34, 58, 0.5);
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-border-radius: 0 0 120px 120px / 0 0 6px 6px;
    border-radius: 9px;
}

.headsection {
    box-shadow: 5px 5px 20px rgba(0,0,0,0.5);
    border-radius: 5px;
     color: #2D0063;
     text-align: center;
     margin: 10px 15px 10px;
     max-width: 90%;
     padding: 2px;
     font-family: Comfortaa-Bold;
     background: linear-gradient(#fff, rgba(109, 109, 109, 0.34)); 
}
#pronas {
    background-color: #dcdcdc;
    height: 600px;
    
}
.pronastext {
    font-family: Comfortaa-Regular;
    font-size: large;
    color: #00005C;
    text-align: left;
    max-width: 85%;
    min-width: 250px;
    background-color: rgba(249, 245, 193, 0.75);
}
#map {
    width: 100%;
    min-width: 250px;
    height: 250px;
}

/*modelne vikno start style*/
#mask {
	position:absolute;
	left:0;
	top:0;
	z-index:9000;
	background-color:#000;
	display:none;
	font-family: Georgia;
	}
#boxes .window {
	position:absolute;
	left:0;
	top:0;
	height:500px;
	display:none;
	z-index:9999;
	padding:20px;
	text-align: left;
	font-size: 17px;
	}
#boxes #dialog {
    margin: 80px 30px 10px 0;
	height: auto;
	padding:20px;
	background-color:#ffffff;
		-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.81), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.50) inset;
    border-radius: 20px 20px 20px 20px;
	}
.close {
	float: right;
	margin-top: 148px;
	}
/*modelne vikno end style*/
/*knopka start*/
#knopkazam {
    text-align: center;
    margin-bottom: 20px;
}
.button {
    left: 40px;
    display: inline-block;
    margin: 0 auto;
    
    -webkit-border-radius: 10px;
    
    -webkit-box-shadow: 
        0px 3px rgba(128,128,128,1), 
        0px 4px rgba(118,118,118,1),
        0px 5px rgba(108,108,108,1),
        0px 6px rgba(98,98,98,1),
        0px 7px rgba(88,88,88,1),
        0px 8px rgba(78,78,78,1),
        0px 14px 6px -1px rgba(128,128,128,1); 
    
    -webkit-transition: -webkit-box-shadow .1s ease-in-out;
} 

.button span {
    background-color: #E8E8E8;
    
    background-image: 
        
        -webkit-gradient(
            linear, 
            left bottom, 
            left top, 
            color-stop(50%,rgba(255,255,255,0)), 
            color-stop(50%,rgba(255,255,255,0.3)), 
            color-stop(100%,rgba(255,255,255,0.2))),
        
        -webkit-gradient(
            linear, 
            left top, 
            right top, 
            color-stop(0%,rgba(210,210,210,0.3)), 
            color-stop(20%,rgba(210,210,210,0)), 
            color-stop(80%,rgba(210,210,210,0)), 
            color-stop(100%,rgba(210,210,210,0.3))),
        
        -webkit-gradient(
            linear, 
            left top, 
            right top, 
            color-stop(0%,rgba(255,255,255,0)), 
            color-stop(20%,rgba(255,255,255,0.5)), 
            color-stop(80%,rgba(255,255,255,0.5)), 
            color-stop(100%,rgba(255,255,255,0))),        
        
        -webkit-gradient(
            linear, 
            0% 100%, 
            100% 0%, 
            color-stop(0%,rgba(255,255,255,0)), 
            color-stop(40%,rgba(255,255,255,0)), 
            color-stop(40%,#D2D2D1), 
            color-stop(60%,#D2D2D1), 
            color-stop(60%,rgba(255,255,255,0)), 
            color-stop(100%,rgba(255,255,255,0)));
    
        -webkit-box-shadow:
            0px -1px #fff, /* top highlight */
            0px 1px 1px #FFFFFF; /* bottom edge */
    
    -webkit-background-size: 100%, 100%, 100%, 4px 4px;
    
    -webkit-border-radius: 10px;
    -webkit-transition: -webkit-transform .1s ease-in-out;
    
    display: inline-block;
    padding: 10px 40px 10px 40px;
    
    color: #3A474D;
    text-transform: uppercase;
    font-family: monospace;
    font-weight: 700;
    font-size: 32px;
    
    text-shadow: 0px 1px #fff, 0px -1px #262F33;
}

        .button span:hover {
            color: #3a87a6;
            text-shadow: 0px -1px #3a87a6;
            cursor: pointer;
        }

        .button:active {
            -webkit-box-shadow: 
                0px 3px rgba(128,128,128,1),
                0px 4px rgba(118,118,118,1),
                0px 5px rgba(108,108,108,1),
                0px 6px rgba(98,98,98,1),
                0px 7px rgba(88,88,88,1),
                0px 8px rgba(78,78,78,1),
                0px 10px 2px 0px rgba(128,128,128,.6); /* shadow */
        }

        .button:active span{
            -webkit-transform: translate(0, 5px); /* depth of button press */
        }

    .button span:after {
        display: block;
        width: 10px;
        height: 10px;
    
        position: absolute;
        right: 14px;
        top: 12px;    
        
        font-family: 'monospace';
        font-weight: 700;
        color:  #3a7ca6;
        text-shadow: 0px 1px #fff, 0px -1px  #3a7ca6;
        font-size: 26px;
    }
    #knopkazam {
  background-image:
        -webkit-gradient(
            radial, 
            50% -50, 
            300, 
            50% 0, 
            0, 
            from(rgba(230, 237, 241, 0)), 
            to(rgba(230, 237, 241, 0.8)));
    
 
}

/*knopka end*/